@model AcademicPerformanceLog_MVC.Models.Performance

@{
    ViewData["Title"] = "Редактирование оценки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Поставить (редактировать) оценку</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentID" />
            <input type="hidden" asp-for="DisciplineID" />
            <div class="form-group" style="padding-bottom:10px;padding-top:10px">
                <label asp-for="Mark" class="control-label"></label>
                <input asp-for="Mark" class="form-control" />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom:10px;padding-top:10px">
                <input type="submit" value="Сохранить оценку" class="btn btn-primary" />
                <a asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>


