@model IEnumerable<AcademicPerformanceLog_MVC.Models.Student>

@{
    ViewData["Title"] = "Список студентов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-bottom:15px; padding-top:15px">Список студентов группа №124</h1>


<table class="table" style="padding-bottom:15px; padding-top:15px;">
    <thead>
        <tr>
            <th style="border:unset"> Имя и фамилия студента</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ToString()
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Дневник студента</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create">Добавить студента</a>
</p>
